.convinience{
   
    .inner__wrapper{        
    max-width: 50.6rem;
    text-align: center;
    margin: 0 auto;
     
    p{
        max-width: 43.75rem;
        margin: 0 auto;
        line-height: 1.5;
        padding: 1.25rem 0;
    }   
}
}
